aside {
	width: 20%;
	float: right;
	margin-top: 2%;
	margin-right: 5%;
}

main {
	width: 70%;
	float: left;
	margin-left: 3%;
	margin-top: 2%;
}

main img {
	width: 900px;
	height: 400px;
}

.heading {
	font-weight: 600;
	font-size: 1.2em;
	font-family: 'Montserrat';
	border-bottom: 2px solid #308ed1;
	float: left;
	padding: 0 5px;
}

.heading:first-letter {
	color: #308ed1;
} 

#article {
	float: right;
	margin-bottom: 10px;
}

#article img {
	border: 2px solid silver;
	margin-right: 10px;
}

#article a {
	font-family: 'Play', sans-serif;
	font-size: 13px;
	margin: 7px;
	color: #333;
}

#article a:hover {
	color: #a12341;
}

#article img.separator {
	border: 0;
	padding-bottom: 15px; 
}

main img {
	max-width: 300px;
	max-height: 170px;
	border-radius: 3px;
	box-shadow: 0 4px 4px gray, 0 2px 2px #333;
	margin-bottom: 3%;
	-moz-transition: all 1s ease-out;
 	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
}

main img:hover {
	 -webkit-transform: scale(1.05);
	 -moz-transform: scale(1.05);
 	 -o-transform: scale(1.05);
}

#main_articles {
	width: 300px;
	height: 400px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	
} 

main .main_button a {
	background-color: #58ace8;
	color: white;
	padding: 4px;
	display: inline-block;
	font-family: Play;
	font-size: 13px;
	margin: 5px 0 5px 5px;
}

main .main_button a:hover {
	background-color: #262626;
	transition: all.4s; 
}

main p {
	font-family: 'Montserrat';
	font-size: 14px;
	text-align: center;
}	

main h3 {
	text-align: center;
}

main .button_more a {
	background-color: #7a7c7f;
	color: white;
	padding: 6px;
	font-family: Play;
	font-size: 13px;
	text-align: center;
}

main .button_more a:hover {
	background-color: #262626;
	transition: all.4s; 
}
